.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.cat-info {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.cat-text-info {
  display: inline;
}

span {
  font-weight: 700;
}

.loader {
  font-weight: 700;
}

.error {
  color: red;
  font-weight: 700;
}

select {
  background: rgb(255, 255, 255);
  outline: none;
  color: rgb(16, 82, 161);
  border: none;
  width: 100%;
  max-width: 300px;
  display: block;

  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  border: none;
  outline: 0;
}
